
* {
    padding: 0;
    margin:0;
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 142, 138);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: lighter;
    color: white;
}
canvas {
    position: fixed;
    display: none;
}
/* --------------------------------------INDEX-SCREEN--------------------------------------- */
a {
    color: white;
}

h1 {
    font-size: 2em; 
    font-weight: lighter;
}
/* --------------------------------------/INDEX-SCREEN-------------------------------------- */


/* ----------------------------------------SCANSCREEN--------------------------------------- */

/*minusButton (Produktmenge-1)*/
#minus-button {
    display: none;
    text-align: center;
    border-radius: 50%; 
    width: 6vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204);
    font-size: 2em;
}
#minus-button:hover {
    background-color: rgb(148, 211, 66);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Produkt-Icon-Anzeige*/
#product {
    height: 25vw; 
    text-align: center;
}

/*plusButton (Produktmenge+1)*/
#plus-button {
    display: none;
    border-radius: 50%; 
    width: 6vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204); 
    font-size: 2em;
    color: white;
}
#plus-button:hover {
    background-color: rgb(255, 61, 59);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*cancelButton (Mengeneingabe des eingescannten Produktes wird abgebrochen; Produktmenge = 0)*/
#cancel {
    display: none;
    border-radius:50%; 
    width:5vw; 
    height:5vw; 
    background-color: rgb(4, 204, 204); 
    font-size:1.5em; 
    color: white;
}
#cancel:hover {
    color: rgb(99 ,99 ,99);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Produktmengen-Anzeige*/
#productCounter {
    font-size:1.6em; 
    color:white; 
    padding-top:2vh;
}

/*Produkt mit angegebener Menge wird in den Warenkorb gelegt*/
#addToShoppingCart {
    display: none;
    border-radius:50%; 
    width:5vw; 
    height:5vw; 
    background-color: rgb(4, 204, 204); 
    font-size:1.5em; 
    color:white;
}
#addToShoppingCart:hover {
    color: rgb(99 ,99 ,99);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Zur Kasse (zum Ergebnisscreen, Summe aller eingescannten Produkte und Mengen)*/
#kasse-button{
    font-weight: lighter;
    bottom: 0;
    width: 100%; 
    height: 10vh; 
    background-color: rgb(4, 204, 204); 
    color: white; 
    font-size:1.8em;
    position: absolute;
    bottom: 0;
}
#kasse-button:hover {
    color: rgb(99 ,99 ,99);
}
/* ---------------------------------------SCANSCREEN---------------------------------------- */


/* ---------------------------------------WARENKORB-------------------------------------- */
/*Warenkorb-Button*/
.SC {
    text-align: right;
}
/*Warenkorb-Button-Icon*/
#SCicon {
    height: 4vw;
}
/*Warenkorb-Button*/
#shoppingCart {
    font-weight: lighter;
    width: 8vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204);
    font-size: 2em;
}
#shoppingCart:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}
/*Warenkorb-Button ohne Hintergrund*/
#shoppingCart2 {
    font-weight: lighter;
    width: 8vw; 
    height: 6vw; 
    background-color: rgb(0, 142, 138);
    font-size: 2em;
}
/* ----------------------------------------/WARENKORB---------------------------------------- */


/* --------------------------------------WARENKORBLISTE-------------------------------------- */
/*Warenkorb-Liste (Tabelle)*/
#productTable {
    text-align: center;
}
table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 15px;
}
th {
    padding: 5px;
}
/*Produktmenge (Tabellenspalte)*/
.counter{
    text-align: right;
    width: 20%;
}
/*Produktname (Tabellenspalte)*/
.product {
    text-align: left;
    width: 20%;
}
/*Produktmenge um 1 reduzieren (Tabellenspalte)*/
.minus {
    font-size: 1.5em;
    text-align: right;
    width: 20%;
}
.minus:hover {
    color: rgb(148, 211, 66);
    text-decoration-line: none;
}
/*Produktmenge um 1 erhöhen (Tabellenspalte)*/
.plus {
    font-size: 1.5em;
    text-align: left;
    width: 20%;
}
.plus:hover {
    color: rgb(255, 61, 59);
    text-decoration-line: none;
}
/* -------------------------------------/WARENKORBLISTE-------------------------------------- */


/* ---------------------------------------BACK-BUTTON---------------------------------------- */
.BB {
    text-align: left;
}
/*zurück-Button (zum Scanscreen)*/
#back {
    font-weight: lighter;
    width: 8vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204);
    font-size: 2em;
}
#back:hover {
    color: rgb(99, 99, 99);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}
/* --------------------------------------/BACK-BUTTON--------------------------------------- */


/* --------------------------------------/BACK-BUTTON--------------------------------------- */
#countdown {
    text-align: center;
    padding-top: 10vh;
}
/* --------------------------------------/BACK-BUTTON--------------------------------------- */


/* Screenüberschriften*/
.title {
    width: 100%; 
    text-align: center;
}
#logo {
    padding-top: 5%;
    text-align: center; 
    width: auto;
    height: 45vh;
}
#animation {
    text-align: center;
    padding-top: 10vh;
}
/*Absatz, damit Buttons auf dem Scanscreena in der Mitte sind*/
.absatz {
    font-size: 12vh; 
}
/*Absatz, damit Produkt-Icon mittig ist*/
.absatzProdukt {
    font-size: 3vh;
}
/*Grid für Plus-, Minus-Button und Produkt-Icon-Ansicht*/
.grid-container {
    grid-template-columns:30% 40% 30%; 
    display: grid; 
    align-content: center;   
}
/*Grid für Cancel-, InDenWarenkorb-Button und Produktcounter*/
.zwei {
    grid-template-columns: auto 10vw auto; 
    display:grid; 
    align-content:center;    
}
/*Grid Back-Button und Warenkorb-Icon*/
.drei {
    grid-template-columns: auto auto; 
    display:grid; 
    align-content:center;    
}
/*Ausrichtung rechts*/
.right {
    text-align: right;
}