
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 142, 138);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: lighter;
    color: white;
}
canvas {
    position: fixed;
    display: none;
}
/* --------------------------------------INDEX-SCREEN--------------------------------------- */
a {
    color: white;
    text-decoration-line: none;
}
a:hover {
    color: rgb(99, 99, 99);
    text-decoration-line: none;
}
h1 {
    font-size: 2em; 
    font-weight: lighter;
}
h2 {
    font-size: 4em;
    font-weight: lighter;
    line-height: 180%;
    background-color: rgb(2, 102, 102);
}
h3 {
    padding-top: 2%;
    font-size: 2em;
    font-weight: lighter;
    line-height: 150%;
}
b {
    color: rgb(2, 102, 102);
}
/* --------------------------------------/INDEX-SCREEN-------------------------------------- */


/* ----------------------------------------SCANSCREEN--------------------------------------- */

/*minusButton (Produktmenge-1)*/
#minus-button {
    display: none;
    border: none;
    text-align: center;
    border-radius: 50%; 
    width: 6vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204); 
    font-size: 2em;
    color: white;
   
}
#minus-button:hover {
    background-color: rgb(148, 211, 66);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Produkt-Icon-Anzeige*/
#product {
padding-top: 5vh;
    height: 25vw;
    widh: 25vw; 
    text-align: center;
}

/*plusButton (Produktmenge+1)*/
#plus-button {
    display: none;
    border: none;
    text-align: center;
    border-radius: 50%; 
    width: 6vw; 
    height: 6vw; 
    background-color: rgb(4, 204, 204); 
    font-size: 2em;
    color: white;
}
#plus-button:hover {
    background-color: rgb(255, 61, 59);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*cancelButton (Mengeneingabe des eingescannten Produktes wird abgebrochen; Produktmenge = 0)*/
#cancel {
    display: none;
    border-radius:50%; 
    border: none;
    width:5vw; 
    height:5vw; 
    background-color: rgb(2, 102, 102); 
    font-size:1.5em; 
    color: white;
}
#cancel:hover {
    background-color: rgb(4, 204, 204);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Produktmengen-Anzeige*/
#productCounter {
    display: none;
    font-size:1.6em; 
    color:white; 
    padding-top:2vh;
}

/*Produkt mit angegebener Menge wird in den Warenkorb gelegt*/
#addToShoppingCart {
    display: none;
    border-radius:50%; 
    border: none;
    width:5vw; 
    height:5vw; 
    background-color: rgb(2, 102, 102); 
    font-size:1.5em; 
    color:white;

}
#SCbutton {
    width: 4vw;
    height: auto;
    padding: 15px;
}

#addToShoppingCart:hover {
    background-color: rgb(4, 204, 204);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}

/*Zur Kasse (zum Ergebnisscreen, Summe aller eingescannten Produkte und Mengen)*/
#kasse-button{
    font-weight: lighter;
    bottom: 0;
    width: 100%; 
    height: 10vh; 
    border: none;
    background-color: rgb(2, 102, 102); 
    color: white; 
    font-size:1.8em;
    position: absolute;
    bottom: 0;
}
#kasse-button:hover {
    background-color: rgb(4, 204, 204);

}
/* ---------------------------------------SCANSCREEN---------------------------------------- */


/* ---------------------------------------WARENKORB-------------------------------------- */
/*Warenkorb-Button*/
.SC {
    text-align: right;
}
/*Warenkorb-Button-Icon*/
#SCicon {
    width: 4vw;
    height: auto;
    padding: 15px;
}
/*Warenkorb-Button*/
#shoppingCart {
    background-color: rgb(2, 102, 102);
    text-decoration-line: none;
    font-size: 3em;
    border-radius: 10%;
    height:auto;
    width: auto; 
    margin: 10px;
    color: white;
    
}
#shoppingCart:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
    background-color: rgb(4, 204, 204);
}
#SCicon {
    width: 4vw;
    padding: 15px;
}
/*Warenkorb-Button ohne Hintergrund*/
#shoppingCart2 {
    font-weight: lighter;
    width: 8vw; 
    height: 6vw; 
    background-color: rgb(0, 142, 138);
    font-size: 2em;
}
/* ----------------------------------------/WARENKORB---------------------------------------- */


/* --------------------------------------WARENKORBLISTE-------------------------------------- */
/*Warenkorb-Liste (Tabelle)*/
table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 20px;
}
th {
    padding: 5px;
}
/*Produktmenge (Tabellenspalte)*/
.counter{
    font-size:1.5em;
    text-align: right;
    width: 15%;
}
/*Produktname (Tabellenspalte)*/
.product {
    text-align: left;
    font-size: 1.5em;
    width: 18%;
}
/*Produktmenge um 1 reduzieren (Tabellenspalte)*/
.minus {
    text-align: right;
    width: 20%;
}
#minus-button-SC {
    font-size: 1.5em;
    border-radius:50%;
    height: 2.5vw;
    width: 2.5vw;
    color: white;
    background-color: rgb(4, 204, 204);
}
#minus-button-SC:hover {
    background-color: rgb(148, 211, 66);
}
/*Produktmenge um 1 erhöhen (Tabellenspalte)*/
.plus {
    text-align: left;
    width: 20%;
}
#plus-button-SC {
    font-size: 1.5em;
    border-radius:50%;
    height: 2.5vw;
    width: 2.5vw;
    background-color: rgb(4, 204, 204);
    color: white;
}
#plus-button-SC:hover {
    background-color: rgb(255, 61, 59);
}
/* -------------------------------------/WARENKORBLISTE-------------------------------------- */


/* ---------------------------------------NEXT-BUTTON---------------------------------------- */
.next{
    text-align:right;
position: absolute;
bottom:0;
right:0;
}

#next {
    margin:10px;
    font-weight: lighter;
    text-decoration-line: none;
    font-size: 1.5em;
    border-radius: 10%;
    height:5em;   
    color: white;
    background-color: rgb(2, 102, 102);
    width: 6em; 
    border: none;

}
/* --------------------------------------/NEXT-BUTTON---------------------------------------- */


/* ------------------------------------------LOADER------------------------------------------ */
.loader {
    border: 0.5em solid white; /* Light grey */
    border-top: 0.5em solid rgb(4, 204, 204); /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* -----------------------------------------/LOADER------------------------------------------ */


/* ---------------------------------------BACK-BUTTON---------------------------------------- */
.BB {
    text-align: left;

}
.backIcon{
    width: 4vw;
    height: auto;
    padding: 0;
}
/*zurück-Button (zum Scanscreen)*/
#back {    
    margin:10px;
    font-weight: lighter;
    text-decoration-line: none;
    font-size: 2.8em;
    border-radius: 10%;
    height:auto;   
    color: white;
    background-color: rgb(2, 102, 102);
    width: auto; 
}
#back:hover {
    background-color: rgb(4, 204, 204);
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.05), 0 2em 6em 0 rgba(0,0,0,0.05);
}
/* --------------------------------------/BACK-BUTTON--------------------------------------- */


/* ------------------------------------COUNTDOWN-PRINT-------------------------------------- */
#countdown {
    text-align: center;
    padding-top: 10vh;
}
/* -----------------------------------/COUNTDOWN-PRINT-------------------------------------- */


/* --------------------------------------PRINT-SCREEN--------------------------------------- */
#print-screen {
    padding-top: 5%;
    text-align: center;
}
#printing {
    padding-top: 1%;
    width:40%;
}
/* --------------------------------------/PRINT-SCREEN-------------------------------------- */


/* --------------------------------------/END-SCREEN-------------------------------------- */
#ergebnis-screen {
    text-align: center;
    height: 100%;
}
#industrie {
    width: 90%;
}
#dorf {
   width: 100%;
 
}
/* --------------------------------------/END-SCREEN-------------------------------------- */

/* Screenüberschriften*/
.title {
    width: 100%; 
    text-align: center;
}
#logo {
    padding-top: 5%;
    text-align: center; 
    width: auto;
    height: 45vh;
}
#animation {
    text-align: center;
    padding-top: 10vh;
}
/*Absatz, damit Buttons auf dem Scanscreena in der Mitte sind*/
.absatz {
    font-size: 12vh; 
}
/*Absatz, damit Produkt-Icon mittig ist*/
.absatzProdukt {
    font-size: 3vh;
}
/*Grid für Plus-, Minus-Button und Produkt-Icon-Ansicht*/
.grid-container {
    grid-template-columns:30% 40% 30%; 
    display: grid; 
    align-content: center;   
}
/*Grid für Cancel-, InDenWarenkorb-Button und Produktcounter*/
.zwei {
    grid-template-columns: auto 10vw auto; 
    display:grid; 
    align-content:center;    
}
/*Grid Back-Button und Warenkorb-Icon*/
.drei {
    grid-template-columns: auto auto; 
    display:grid; 
    align-content:center;    
}
.vier {
    grid-template-columns: 35% 26% 39%; 
    display: grid; 
    align-content: center;  
}
/*Ausrichtung rechts*/
.right {
    text-align: right;
}